<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header('Habit Select')" />
<body>
<nav th:replace="partials/navbar :: navbar"></nav>


<!--<h1>Please select a new habit.</h1>-->
<div sec:authorize="isAuthenticated()">
</div>



<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-sm-4">-->
<!--<ul class="list-group">-->
<!--<li class="list-group-item text-center boldTitle">Add Habits</li>-->
<!--<li class="list-group-item" th:each="badge : ${badges}">-->
<!--<span class="habitTitles" th:text="${badge.name}"></span>-->
<!--<i class="fa fa-plus fa-pull-right addHabit" aria-hidden="true" th:attr="data-id=${badge.id}"></i>-->
<!--</li>-->
<!--<li class="list-group-item" th:each="currentBadge : ${currentBadges}">-->
<!--<span class="habitTitles" th:text="${currentBadge.getBadge().name}"></span>-->
<!--<i class="fa fa-trash-alt fa-pull-right removeHabit" aria-hidden="true" th:attr="data-id=${currentBadge.id}"></i>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->

<!--&lt;!&ndash; ##################   Completed Habits  ###################       &ndash;&gt;-->

<!--<div class="col-sm-4">-->
<!--<ul class="list-group">-->
<!--<li class="list-group-item text-center boldTitle">Completed Habits</li>-->
<!--<li class="list-group-item" th:each="habit : ${completedBadges}">-->
<!--<span class="habitTitles" th:text="${habit.getBadge().name}"></span>-->
<!--<i class="fas fa-check-circle green fa-pull-right" aria-hidden="true"></i>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->

<!--&lt;!&ndash; ############   Add Clan Habits  ###################       &ndash;&gt;-->

<!--<div class="col-sm-4" th:if="${user.clan}!=null">-->
<!--<ul class="list-group" th:if="${user.id} == ${user.clan.owner_id}">-->
<!--<li class="list-group-item text-center boldTitle">Add Clan Habits</li>-->
<!--<li class="list-group-item" th:each="badge : ${clanBadgesNotAdded}">-->
<!--<span class="habitTitles" th:text="${badge.name}"></span>-->
<!--<i class="fa fa-plus fa-pull-right addClanHabit" aria-hidden="true" th:attr="data-id=${badge.id}"></i>-->
<!--</li>-->
<!--<li class="list-group-item" th:each="currentBadge : ${clanBadgesAdded}">-->
<!--<span class="habitTitles" th:text="${currentBadge.name}"></span>-->
<!--<i class="fa fa-trash-alt fa-pull-right removeClanHabit" aria-hidden="true" th:attr="data-id=${currentBadge.id}"></i>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="select">
    <div class=" rpgui-content rpgui-content-select ">
        <div style="display: flex; justify-content: space-around; flex-direction: row; margin-top: 10px;">
            <div class="rpgui-container framed-golden-2 habitAdd ">
                <ul class="list-group rpgBrown">
                    <li class="list-group-item  text-center boldTitle rpgBrown selectFont">Add Habits</li>
                    <li class="list-group-item rpgBrown" th:each="badge : ${badges}">
                        <span class="habitTitles selectFont" th:text="${badge.name}"></span>
                        <i class="fa fa-plus fa-pull-right addHabit faImportant" aria-hidden="true" th:attr="data-id=${badge.id}"></i>
                    </li>
                    <li class="list-group-item rpgBrown selectFont" th:each="currentBadge : ${currentBadges}">
                        <span class="habitTitles selectFont" th:text="${currentBadge.getBadge().name}"></span>
                        <i class="fa fa-trash-alt fa-pull-right removeHabit faImportant" aria-hidden="true" th:attr="data-id=${currentBadge.id}"></i>
                    </li>
                </ul>
            </div>
            <div class="rpgui-container framed-golden-2 habitComplete">
                <ul class="list-group rpgBrown">
                    <li class="list-group-item  text-center boldTitle rpgBrown selectFont">Completed Habits</li>
                    <li class="list-group-item selectFont" th:each="habit : ${completedBadges}">
                        <span class="habitTitles selectFont" th:text="${habit.getBadge().name}"></span>
                        <i class="fas fa-check-circle green fa-pull-right faImportant" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
            <div class="rpgui-container framed-golden-2 habitClan selectFont" th:if="${user.clan}!=null">
                <ul class="list-group rpgBrown " th:if="${user.id} == ${user.clan.owner_id}">
                    <li class="list-group-item text-center boldTitle  rpgBrown selectFont">Add Clan Habits</li>
                    <li class="list-group-item selectFont " th:each="badge : ${clanBadgesNotAdded}">
                        <span class="habitTitles selectFont" th:text="${badge.name}"></span>
                        <i class="fa fa-plus fa-pull-right addClanHabit faImportant" aria-hidden="true" th:attr="data-id=${badge.id}"></i>
                    </li>
                    <li class="list-group-item " th:each="currentBadge : ${clanBadgesAdded}">
                        <span class="habitTitles rpgBrown selectFont" th:text="${currentBadge.name}"></span>
                        <i class="fa fa-trash-alt fa-pull-right removeClanHabit faImportant" aria-hidden="true" th:attr="data-id=${currentBadge.id}"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




<div class="hiddenElement" th:replace="partials/jsScripts :: scripts"></div>
<script>



















</script>

</body>
</html>