<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div th:fragment="scripts">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script>
    $('#openCreateClanForm').click(function () {
        $('#createClanForm').toggle();
    });

    $('#openCreateClanForm, i').hover(
        function() {
            $(this).css('cursor', 'pointer');
        },
        function() {
            $(this).css('cursor', 'none');
        }
    );

    $('i').click(function(){
        var id = $(this).attr('data-id');
        var name = $(this).attr('data-name');
        $('#modalClanTitle, #modalTitle').text(name);
        $('#clanValueInput').val(id);
        $('#joinClanModal').modal('show');
    });

    $('#submitJoinClan').click(function () {
        $('#joinClanForm').submit();
    })

    $('#submitNewClanForm').click(function (event) {
        var pattern = /[^a-z0-9\s]/gi;
        var word = $('#createClanForm #name').val();
        if ($.trim(word)=="") {
            $( "#createClanSpan" ).text( "Must enter text!" ).show().fadeOut( 2000 );
            event.preventDefault();
            return;
        }
        if(pattern.test(word)){
            $("#createClanSpan").text( "Only letters and numbers!" ).show().fadeOut( 2000 );
            event.preventDefault();
            return;
        }
        $( "#createClanSpan" ).text( "Validated..." ).show();
    })

    $('#addRecipientLink').click(function (event) {
        event.preventDefault();
        $('#selectReceiversModal').modal('show');
    })

    $('#addRecipients').click(function (e) {
        var receivers = '';
        var values = [];
        $(':checkbox[name="receivers"]').prop('checked',false);
        $(':checkbox[name="receiver"]:checked').each(function(i,e){
            values.push(parseInt(e.value));
            receivers += e.id + ", ";
        })
        $(':checkbox[name="receivers"]').each(function(index,ele){
            if(values.includes(parseInt(ele.value))){
                $(this).prop('checked',true);
            }
        })
        receivers = receivers.substr(0,receivers.length-2);
        $('#displayRecipients').val(receivers);
    })

    if(window.location.pathname == "/messages"){
        $('.messageLinks:eq(0)').addClass("active")
    }
    if(window.location.pathname == "/messages/sent"){
        $('.messageLinks:eq(1)').addClass("active")
    }
    if(window.location.pathname == "/messages/create"){
        $('.messageLinks:eq(2)').addClass("active")
    }



</script>



</div>
</body>
</html>