<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials/header :: header('Login')"/>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>


<div class="rpgui-content">
<div class="rpgui-container framed rpgui-draggable login">
    <h1>Login</h1>
    <hr />
    <!--<div style="border: 2px solid black; border-radius: 10px; height: 300px; width: 500px">-->
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <!--<input class="form-control fontVT323" id="username" name="username" type="text" autofocus="autofocus"/>-->
                <input id="username" name="username" type="text" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <!--<input class="form-control"  id="password" name="password" type="password" />-->
                <input id="password" name="password" type="password" />
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-6 offset-sm-3">
                        <input class="rpgui-button golden" type="submit" value="Log In" />
                    </div>
                </div>
            </div>

        </form>
    </div>
    <!--<a href="/register" class="btn btn-info col-xs-2 col-xs-offset-5" role="button">SignUp</a>-->
<!--</div>-->
</div>
<div class="hiddenElement" th:replace="partials/jsScripts :: scripts"></div>
</body>
</html>