<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header('Profile')" />
<body>
<nav th:replace="partials/navbar :: navbar"></nav>


<h1>Welcome to your profile</h1>
<div sec:authorize="isAuthenticated()">
git
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="col-sm-12">
                <ul class="list-group">
                    <li class="list-group-item">Habits</li>
                    <li class="list-group-item list-group-item-light">Buy a Boat.
                        <div class="btn-group float-right" role="group">
                            <button type="button" class="btn btn-success btn-sm">Complete</button>
                            <button type="button" class="btn btn-danger btn-sm">Delete</button>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-secondary">Drink until 2am, post on Slack.</li>
                    <li class="list-group-item list-group-item-light">Save Christmas</li>
                    <li class="list-group-item list-group-item-secondary">Drink more Water</li>
                    <li class="list-group-item list-group-item-light">Get Crunk.</li>
                    <li class="list-group-item list-group-item-secondary">50 pushups.</li>
                    <li class="list-group-item list-group-item-light">Save $$$ on car insurance.</li>
                </ul>
                    <div>
                        <a href="#" class="btn btn-primary btn-block">Get more habits</a>
                    </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card h-75">
                <div class="justify-content-between">
                <img class="card-img-top" src="http://pixelartmaker.com/art/e67839ecc7ea933.png" alt="Card image cap" style="width:70px;height:70px;"/>
                    Username: <span th:text="${#authentication.principal.username}" />
                </div>
                <div class="card-body">
                    Member of Clan:
                    <br />
                    Badges:
                    <div class="justify-content-between">
                        <img src="./images/badge.png" alt="badge" style="width:25px;height:25px;"/>
                    </div>
                </div>
            </div>
            <a href="#" class="btn btn-primary btn-block">Join a Clan</a>
        </div>
    </div>
</div>
</body>
</html>