<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header('Profile')" />
<body>
<nav th:replace="partials/navbar :: navbar"></nav>


<h1 id="profileHeading" class="text-center">Welcome to your profile</h1>
<div sec:authorize="isAuthenticated()">
</div>

<div class="container">

<!--###########  First Container  Personal habits  #############   -->
    <div class="rpgui-content forceFont">
        <div class="rpgui-container framed profileContainers removePadding firstContainer">
            <ul class="list-group fontCinzel">
                <li class="list-group-item removePadding text-center boldTitle">Personal Habits</li>
                <li class="list-group-item removePadding" th:each="habit : ${habits}">
                    <span class="habitTitles" th:text="${habit.getBadge().name}"></span>
                    <small><span th:text="${habit.getUser_amt()}"></span> of <span th:text="${habit.badge.getReq_amt()}"></span>
                        <a class="myPopover" tabindex="0" role="button" data-toggle="popover"><i th:attr="data-id=${habit.id}" class="fas fa-plus addHabitId faImportant"></i></a>
                    </small>
                    <i class="fa fa-trash-alt fa-pull-right removeHabit faImportant" aria-hidden="true" th:attr="data-id=${habit.id}"></i>
                </li>
            </ul>
            <div>
                <a href="/habits"><button class="rpgui-button containerButton" style="float: right; height: 30px;">Get more habits</button></a>
            </div>
        </div>
    </div>

<!--###########  Second Container  Clan habits  #############   -->
    <div class="rpgui-content forceFont">
        <div class="rpgui-container framed profileContainers removePadding secondContainer">
            <ul class="list-group fontCinzel">
                <li class="list-group-item text-center removePadding boldTitle">My Clan Habits</li>
                <li class="list-group-item removePadding" th:each="habit : ${clanHabits}">
                    <span class="habitTitles" th:text="${habit.getBadge().name}"></span>
                    <small><span th:text="${habit.getUser_amt()}"></span> of <span th:text="${habit.badge.getReq_amt()}"></span>
                        <a class="myClanPopover" tabindex="0" role="button" data-toggle="popover2"><i th:attr="data-id=${habit.id}" class="fas fa-plus addClanHabitId faImportant"></i></a>
                    </small>
                </li>
            </ul>
        </div>
    </div>

<!--###########  Third Container  Personal Info  #############   -->
    <div class="rpgui-content forceFont">
        <div class="rpgui-container framed profileContainers removePadding thirdContainer">
            <div class="">
                <i th:attr="class=${avatar.url + ' raImportant'}" th:classappend="${user.avatar_color}"/>
                Username: <span style="font-weight: bold" th:text="${#authentication.principal.username}" />
            </div>
            <div>
                <p>HPG Member since: <span id="memberSince" th:text="${user.getCreated_on().toLocaleString()}"></span></p>
                Member of Clan: <span th:if="${user.clan} == null"><em>click below to join a clan</em></span>
                <span th:if="${user.clan} != null" th:text="${user.clan.name}"></span>
                <br />
                Badges:
                <div class="justify-content-between">
                    <i th:each="complete : ${completedHabits}" class="badgeClass raImportant" th:classappend="${complete.getBadge().iconClasses}"></i>
                </div>
            </div>
            <div>
                <a href="/clan/join"><button class="rpgui-button containerButton" style="float: right; height: 30px;">Join a Clan</button></a>
            </div>
        </div>
    </div>


    <div class="row">
        <!--###########  Personal Habits  #############   -->
        <div class="col-sm-6">
            <div id="profileHabits" class="col-sm-12">
                <!--<ul class="list-group fontCinzel">-->
                    <!--<li class="list-group-item text-center boldTitle">Personal Habits</li>-->
                    <!--<li class="list-group-item" th:each="habit : ${habits}">-->
                        <!--<span class="habitTitles" th:text="${habit.getBadge().name}"></span>-->
                        <!--<small><span th:text="${habit.getUser_amt()}"></span> of <span th:text="${habit.badge.getReq_amt()}"></span>-->
                            <!--<a class="myPopover" tabindex="0" role="button" data-toggle="popover"><i th:attr="data-id=${habit.id}" class="fas fa-plus addHabitId"></i></a>-->
                        <!--</small>-->
                        <!--<i class="fa fa-trash-alt fa-pull-right removeHabit" aria-hidden="true" th:attr="data-id=${habit.id}"></i>-->
                    <!--</li>-->
                <!--</ul>-->

                <div id="popover-content" class="hiddenElement">
                    <form th:action="@{/habits/entry}" th:method="post">
                        <input type="hidden" id="userBadgeId" name="userBadgeId"/>
                        Enter Amt: <input class="amountInput" type="text" name="amount"/>
                        <a tabindex="0" class="btn btn-sm btn-danger" role="button" data-dismiss="popover">Close</a>
                        <input type="submit" value="Save" class="btn btn-primary btn-sm saveEntry"/>
                    </form>
                </div>
            </div>
                <!--<div id="getMoreHabitsDivBtn">-->
                    <!--<a href="/habits" class="btn btn-primary btn-block">Get more habits</a>-->
                <!--</div>-->

<!--##################  Clan Habits     ###################-->
                <!--<div class="col-sm-12" id="profileClanHabits" th:if="${user.clan}!=null">-->
                    <!--<ul class="list-group fontCinzel">-->
                        <!--<li class="list-group-item text-center boldTitle">My Clan Habits</li>-->
                        <!--<li class="list-group-item" th:each="habit : ${clanHabits}">-->
                            <!--<span class="habitTitles" th:text="${habit.getBadge().name}"></span>-->
                            <!--<small><span th:text="${habit.getUser_amt()}"></span> of <span th:text="${habit.badge.getReq_amt()}"></span>-->
                                <!--<a class="myClanPopover" tabindex="0" role="button" data-toggle="popover2"><i th:attr="data-id=${habit.id}" class="fas fa-plus addClanHabitId"></i></a>-->
                            <!--</small>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->

            <div id="clanPopover-content" class="hiddenElement">
                <form th:action="@{/clan/habits/entry}" th:method="post">
                    <input type="hidden" name="location" value="profile"/>
                    <input type="hidden" id="clanBadgeId" name="clanBadgeId"/>
                    Enter Amt: <input type="text" name="amount"/>
                    <a tabindex="0" class="btn btn-sm btn-danger" role="button" data-dismiss="popover">Close</a>
                    <input type="submit" value="Save" class="btn btn-primary btn-sm saveClanEntry"/>
                </form>
            </div>
        </div>
        <!--<div class="col-sm-6">-->
            <!--<div id="profileUserInfo">-->
            <!--<div class="card h-75">-->
                <!--<div class="justify-content-between">-->
                    <!--<i class="card-img-top" th:attr="class=${avatar.url}" th:classappend="${user.avatar_color}"/>-->
                        <!--Username: <span style="font-weight: bold" th:text="${#authentication.principal.username}" />-->
                <!--</div>-->
                <!--<div class="card-body">-->
                    <!--<p>HPG Member since: <span id="memberSince" th:text="${user.getCreated_on().toLocaleString()}"></span></p>-->
                    <!--Member of Clan: <span th:if="${user.clan} == null"><em>click below to join a clan</em></span>-->
                    <!--<span th:if="${user.clan} != null" th:text="${user.clan.name}"></span>-->
                    <!--<br />-->
                    <!--Badges:-->
                    <!--<div class="justify-content-between">-->
                        <!--<i th:each="complete : ${completedHabits}" class="badgeClass" th:classappend="${complete.getBadge().iconClasses}"></i>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<a href="/clan/join" class="btn btn-primary btn-block">Join a Clan</a>-->
        <!--</div>-->
    </div>
</div>
<div th:replace="partials/jsScripts :: scripts"></div>
</body>
</html>