


/******************** landing page ******************************/
.hero{
    background-image: url("../images/hero.png");
}

.header{
    background-color: azure;
    opacity: .7;
}


/******************* CSS for Cards ***************************************/
.card{margin-bottom: 15px;
    border-radius:0;
    box-shadow: 0 3px 5px rgba(0,0,0,.1);
}
.force-to-bottom {
    position:absolute;
    bottom: 0%;
    width: 100%;
}

/******************* CSS for hiding ***************************************/
.hiddenElement{
    display: none;
}
.listOfClans{
    color: black;
    font-weight: bold;
}

#createClanSpan{
    color: red;
}

#announcements{
    height: 100%;
}
#announcementsHolder{
    margin-bottom: 15px;
}
#announceText{
    display: block;
    width: 95%;
    height: 80%;
    resize: none;
    margin: auto;
}
#saveAnnouncements{
    margin: 5px auto;
}


.habitTitles{
    overflow: hidden;
    width: 50%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chat{
    width: 200px;
    height: 400px;
    border: 1px solid black;
}
#profileHabits{
    height: 35%;
    margin-bottom: 15px;
    overflow: scroll;
}
#profileClanHabits{
    height: 35%;
    overflow: scroll;
    margin-top: 20px;
}
#getMoreHabitsDivBtn{
    padding: 0 15px;
}
#profileHeading{
    margin-bottom: 25px;
}
.green{
    color: green;
}