
body{
    font-family: 'Cinzel Decorative', cursive;
}

/******************* CSS for Cards ***************************************/
.card{margin-bottom: 15px;
    border-radius:0;
    box-shadow: 0 3px 5px rgba(0,0,0,.1);
}
.force-to-bottom {
    position:absolute;
    bottom: 0%;
    width: 100%;
}

/******************* CSS for hiding ***************************************/
.hiddenElement{
    display: none;
}
.listOfClans{
    color: black;
    font-weight: bold;
}

#createClanSpan{
    color: red;
}

#announcements{
    height: 100%;
    font-family: 'Permanent Marker', cursive;
}
#announcementsHolder{
    margin-bottom: 15px;
    font-family: 'Permanent Marker', cursive;
    position: relative;
}

#editAnnouncements{
    position: absolute;
    top: 9%;
    right: 17%;
    font-size: 4.1vh;
}
#announceText{
    display: block;
    width: 67%;
    height: 60%;
    resize: none;
    border: none;
    position: absolute;
    overflow: scroll;
    background: transparent;
    top: 20%;
    left: 18%;
}
#saveAnnouncements{
    margin: 5px auto;
}


.habitTitles{
    overflow: hidden;
    width: 50%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chat{
    width: 200px;
    height: 400px;
    border: 1px solid black;
}
#profileClanHabits,#profileHabits{
    height: 100%;
    overflow: scroll;
    max-height: 230px;
}
#profileHabits{
    margin-bottom: 15px;
}
#profileClanHabits{
    margin-top: 20px;
}
#getMoreHabitsDivBtn{
    padding: 0 15px;
}
#profileHeading{
    margin-bottom: 25px;
}
.green{
    color: green;
}
#divClanHabits{
    margin-bottom: 15px;
}

.boldTitle{
    font-weight: 700;
    font-size: 25px;
}
.fontCinzel{
    font-family: 'Cinzel Decorative', cursive;
}
.fontVT323{
    font-family: 'VT323', monospace;
}
