
body{
    font-family: 'Cinzel Decorative', cursive;
    background-color: #7fac71;
    background-image: url("/images/day-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/******************** landing page ******************************/
.hero{
    background-image: url("../images/hero.png");
    opacity: .7;
}

.header{
    color: azure;
}

.bod-color{
    background-color: #dde1e3;
}


/******************* CSS for Cards ***************************************/
.card{margin-bottom: 15px;
    border-radius:0;
    box-shadow: 0 3px 5px rgba(0,0,0,.1);
}
.force-to-bottom {
    position:absolute;
    bottom: 0%;
    width: 100%;
}

/******************* CSS for hiding ***************************************/
.hiddenElement{
    display: none;
}
.listOfClans{
    color: black;
    font-weight: bold;
}

#createClanSpan{
    color: red;
}

#announcements{
    height: 100%;
    font-family: 'Permanent Marker', cursive;
}
#announcementsHolder{
    margin-bottom: 15px;
    /*font-family: 'Permanent Marker', cursive;*/
    /*position: relative;*/
}

#editAnnouncements{
    font-size: 4.1vh;
}
#announceText{
    font-size: 1vw;
    font-family: 'Press Start 2P',cursive;
    display: block;
    /*width: 67%;*/
    height: 33vh;
    resize: none;
    border: none;
    /*position: absolute;*/
    /*overflow: scroll;*/
    /*background: transparent;*/
    /*top: 20%;*/
    /*left: 18%;*/
}
#saveAnnouncements{
    margin: 5px auto;
    width: 90%;
    position: absolute;
    bottom: 0;
}


.habitTitles{
    overflow: hidden;
    width: 65%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chat{
    width: 200px;
    height: 400px;
    border: 1px solid black;
}
#profileClanHabits,#profileHabits{
    height: 100%;
    overflow: scroll;
    max-height: 230px;
}
#profileHabits{
    margin-bottom: 15px;
}
#profileClanHabits{
    margin-top: 20px;
}
#getMoreHabitsDivBtn{
    padding: 0 15px;
}
#profileHeading{
    margin-bottom: 25px;
    font-weight: bold;
}
.green{
    color: green;
}
#divClanHabits{
    margin-bottom: 15px;
}

.boldTitle{
    font-weight: 700;
    font-size: 25px;
}
.fontCinzel{
    font-family: 'Cinzel Decorative', cursive;
}
.fontVT323{
    font-family: 'VT323', monospace;
}
.fontNiconne{
    font-family: 'Niconne', cursive;
}
.gameFont{
    font-family: 'Press Start 2P',cursive;
}
#clanMemberListTitle{
    top: 1.50790vw;
    left: 6.78824vw;
    font-size: 1.8vw;
    font-family: 'Press Start 2P',cursive;
}
#clanMemberList{
    /*font-family: 'Press Start 2P',cursive;*/
    position: absolute;
    top: 5.572441vw;
    /*left: 4.36585vw;*/
    max-width: 19.25025vw;
    font-size: 1.23029vw;
    max-height: 17.2239vw;
    list-style-type: none;
}
#memberListDiv{
    margin-right: 3.03951vw;
    margin-left: 3.03951vw;
}
#clanProfileTitle{
    margin-bottom: 3.03951vw;
    font-weight: bold;
}
.relativePosition{
    position: relative;
}
.absolutePosition{
    position: absolute;
}

/******************* Colors to change Badges ***************************************/

.red{
    color: red;
}

.blue{
    color: blue;
}

.black{
    color: black;
}

.gold{
    color: gold;
}

.silver{
    color: silver;
}

.brown{
    color: saddlebrown;
}

.darkGold {
    color: darkgoldenrod;
}

#bold {
    font-weight: bold;
}

.rpgBrown * {
    background-color: #d27d2c !important;
    border: 0px !important;
}

.rgpGrey * {
    background-color: #4a4e4a !important;
    border: 0px !important;
}

.faImportant {
    font-family: Font Awesome\ 5 Free !important;
    font-size: 1.25rem;
}
.rpgui-content-select {
    height: 100% !important;
}



/******************* RpgUI CSS for Navbar ***************************************/

nav {
    margin-bottom: 115px;
}
.rpgui-content{
    height: 105px;
    top: auto;
    position: absolute;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-li {
    float: left;
}

.nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

.flex {
    display: flex;
}

#logoff-li {
    position: absolute;
    right: 25px;
    top: 31%;
}
.badgeClass{
    display: none;
    top:5vw;
    right: 5vw;
}
.badgeClassClan{
    display: none;
    top:-2vw;
    right: 3.46vw;
    background-color: transparent !important;
}
#clanBadgeHolder{
    height: 10.58vw;
}

/******************* RpgUI CSS for Login ***************************************/
.login {
    width: 500px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/******************* Home Page ***************************************/

#home-pic {
    margin: 0 auto;

}

/******************* RpgUI for Select ***************************************/

.select {
    width: 500px;
    position: absolute;
    width: 25%;
}

.habitComplete {
    background-position-x: 25% !important;
    position: unset;
    width: 30%;
}

.habitAdd {
    background-position-x: center !important;
    position: unset;
    width: 30%;
}

.habitClan {
    background-position-x: 75% !important;
    position: unset;
    width: 30%;
}

.selectFont {
    font-family: 'Cinzel Decorative', cursive !important;
    font-size: 1.2em !important;
}


.selectRPG * {
    font-family: RPGAwesome !important;
}

.registerCenter {
    right: auto;
    margin-left: 25%;
    margin-top: 10px;
}

/************************About Us page***************************/
.about-card{
    float: left;
}
.cards{
    height: 100%;
}

.chanel{
    background-position-x: 25% !important;
    position: unset;
    width: 30%;
    margin-left: 5em;
}

.david{
    background-position-x: center !important;
    position: unset;
    width: 30%;
}

.zach{
    background-position-x: 75% !important;
    position: unset;
    width: 30%;
}

.headshot{
    height: 200px;
    width: 300px;
    margin-left: 1em;
}

.link-icons{
    color: azure;
}



/*******************  ***************************************/
.profileContainers{
    font-family: 'Cinzel Decorative', cursive !important;
    height:56.6vh;
    width:26.16vw;
}
.forceFont *{
    font-family: 'Cinzel Decorative', cursive !important;
    background-color: #4e494e !important;
}
.faImportant{
    font-family: Font Awesome\ 5 Free !important;
}
.fabImportant{
    font-family: Font Awesome\ 5 Brands !important;
}

.raImportant{
    font-family: RPGAwesome !important;
}
.firstContainer{
    top: 26.91vh;
    left: 3.66vw;
    font-size: 1.2em;
}
.profileContainers li{
    margin-left: 0 !important;
    border: 0;
}
.secondContainer{
    top: 26.91vh;
    left: 36.66vw;
    font-size: 1.2em;
}
.thirdContainer{
    top: 26.91vh;
    right: 3.66vw;
    font-size: 1.2em;
    color: white !important;
}

.containerButton{
    position: absolute;
    bottom: 0;
    left: 4.4vw;
    width: 210px;
}
.clanBadgesContainer{
    bottom: 3vh;
    right: 3.66vw;
    width: 93vw;
    height: 12vh;
    color: white;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
#clanBadgeAlign{
    position: absolute;
    bottom: 2vh;
}
#clanBadgeDiv{
    display: inline;
    margin-left: 10vw;
}

.removePadding{
    padding-left: 0;
    padding-right: 0;
}

/*Messages*/
.rpgui-messages{
    position: inherit;
    height: inherit !important;
}
tbody tr *{
    color: black;
    font-weight: bold;
    font-size: 1.25vw;
}
thead tr *{
    font-weight: bold;
    font-size: 1.5vw;
}
#newMessageDiv{
    position: inherit !important;
}
.messageNav{
    width: fit-content;
    margin: auto;
}
.divInDivMessage{
    position: absolute;
    left: 25vw;
    width: 50vw;
    top: 28vh;
    color: white;
}
#noHeight{
    bottom: 0 !important;
    /*height: 0 !important;*/
}
.popover-header, .popover-body, .modal-header, .modal-body{
    font-weight: bold;
}
.popover-body, .modal-body, .modal-footer{
    background-color: #79cafa;
}
.popBtn{
    padding-left: 0px;
    padding-right: 0px;
    width: 80px;
    height: 40px;
    min-width: unset;
    text-align: center;
}
#select_avatar, #color_avatar{
    font-size: 10px;
    width: 170px;
}

.joinContainer{
    width: 36vw;
    font-size: 1.4vw;
    max-width: 600px;
}
.bold{
    font-weight: bold;
}