<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header('Clan')" ></head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1 class="text-center" th:text="${clan.name}"></h1>


    <div class="row">
        <div class="col-sm-3">
            <div class="col-sm-12">
                <h2 class="text-center">Members</h2>
                <ul class="list-group">
                    <li class="list-group-item" th:each="member : ${clan.users}" th:text="${member.username}"></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <div class="col-sm-12">
                <div class="card">
                    <div class="justify-content-between text-center"><h3>Clan Chat</h3></div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12">
                <div class="card">
                    <div class="justify-content-between text-center"><h3>Clan Challenge</h3></div>
                    <div class="card-body">
                        <div class="justify-content-between">
                            <p>Complete 2,000 push-ups in 7 days</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="justify-content-between text-center"><h3>Badges</h3></div>
                    <div class="card-body">
                        <div class="justify-content-between">
                            <img src="./images/badge.png" alt="badge" style="width:25px;height:25px;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="row">
    <div class="col-sm-4">
        <button type="button" class="btn btn-secondary btn-lg btn-block">Join Clan</button>
    </div>
</div>


<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>