<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Create Clan')"> </head>
<body>

<div id="createClanForm" class="hiddenElement" th:fragment="createClan">
    <form th:action="@{/clan/create}" th:method="post" th:object="${emptyClan}">
        <div class="form-group">
            Clan Name:
            <input class="form-control" th:field="*{name}" />
            <span id="createClanSpan"></span>
        </div>
        <input id="submitNewClanForm" class="btn btn-success" value="Submit" type="submit" />
    </form>
</div>
</body>
</html>