<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header('Join a Clan')"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">
<div class="row">

<div class="col-sm-7">
    <h1 class="bold">Join a Clan!</h1>
    <p th:if="${user.clan}==null">
        You are not part of a clan.
    </p>
    <p th:if="${user.clan}!=null">
        You are currently part of Clan: <span style="font-weight: bold" th:text="${user.clan.name}"/>
        <!--<p sec:authorize="isAuthenticated()">clanName: <span th:text="${#authentication.principal.clan.name}" /></p>-->
    </p>


    <!--###########  Second Container  Clan habits  #############   -->
    <div class="rpgui-content forceFont">
        <div class="rpgui-container framed joinContainer">
            <p class="text-center">Here is a list of the current clans</p>
            <ul class="list-group">
                <li th:each="clan : ${clans}" class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="" class="listOfClans" th:text="${clan.name}"></a>
                    <small><span th:text="${clan.users.size()}"></span> Members <i th:attr="data-id=${clan.id},data-name=${clan.name}" class="fas fa-user-plus iJoinClan faImportant"></i></small>
                </li>
            </ul>
        </div>
    </div>


</div>

<div class="col-sm-5">
    <h1 class="bold">Create a Clan!</h1>
    <p>
        Have a group of friends that you want to work with to achieve new badges? This is how you can all
        link up. Click below to create your own Clan!
    </p>
    <button id="openCreateClanForm" class="rpgui-button">Create Clan</button>
    <div class="hiddenElement" th:replace="clans/create :: createClan"></div>

</div>

    <!--###############          THis is the modal                  ###############-->
    <div class="modal fade" id="joinClanModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You are about to join clan: <span id="modalClanTitle"></span>
                    <form id="joinClanForm" th:action="@{/clan/join}" th:method="post">
                        <input id="clanValueInput" type="hidden" name="clan" value=""/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class=".popBtn rpgui-button" data-dismiss="modal">Close</button>
                    <button id="submitJoinClan" type="button" class=".popBtn rpgui-button">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!---->

</div>
</div>

<div class="hiddenElement" th:replace="partials/jsScripts :: scripts"></div>
</body>
</html>