<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header('Home')">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body class="bod-color">
<nav th:replace="partials/navbar :: navbar"></nav>
<!--<div class="jumbotron jumbotron-fluid text-center hero" >-->
<!--<div class="">-->
<!--<div class="header">-->
<!--<h1 class="display-3">Habit Performance Game</h1>-->
<!--<i class="ra ra-monster-skull fa-5x"></i>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="container">
    <div class="row">
        <img src="/images/HPGLIFE-1.png" alt="" id="home-pic"/>
    </div>
        <div class="select">
            <div class="rpgui-content cards">
                <div class="rpgui-container framed about-card chanel">
                    <img class="headshot" src="/images/ChanelRodriguez1.jpg" alt="Chanel"/>
                    <div class="rpgui-icon sword"></div><a href="https://github.com/chanel-rodriguez">Chanel Rodriguez</a>
                    <a href="https://github.com/chanel-rodriguez"><i class="fab fa-github fa-2x fabImportant link-icons"></i></a>
                    <a href="https://www.linkedin.com/in/chanel-rodriguez-20532695/"><i class="fab fa-linkedin fa-2x fabImportant link-icons"></i></a>
                </div>
                <div class="rpgui-container framed about-card david">
                    <img class="headshot" src="/images/DavidAlexander2.jpg" alt="David"/>
                    <div class="rpgui-icon sword"></div><a href="https://github.com/davidalex620">David Alexander</a>
                    <a href="https://github.com/davidalex620"><i class="fab fa-github fa-2x fabImportant link-icons"></i></a>
                    <a href="https://www.linkedin.com/in/dkalexander213/"><i class="fab fa-linkedin fa-2x fabImportant link-icons"></i></a>
                </div>
                <div class="rpgui-container  framed about-card zach">
                    <img class="headshot" src="/images/ZachRamos3.jpg" alt="Zach"/>
                    <div class="rpgui-icon sword"></div><a href="https://github.com/zachramos">Zachary Ramos</a>
                    <a href="https://github.com/zachramos"><i class="fab fa-github fa-2x fabImportant link-icons"></i></a>
                    <a href="https://www.linkedin.com/in/zachary-ramos/"><i class="fab fa-linkedin fa-2x fabImportant link-icons"></i></a>
                </div>
            </div>
        </div>
</div>
</body>
</html>