<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header('Home')">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-4"><strong>H</strong>abit <strong>P</strong>erformance <strong>G</strong>ame</h1>
    <i class="fas fa-gamepad fa-5x"></i>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <i class="fas fa-clipboard-check fa-5x"></i>
                    <hr/>
                    <p>Choose a habit you would like to improve on.</p>
                </div>
                <div class="col-sm-4 text-center">
                    <i class="fas fa-user-ninja fa-5x"></i>
                    <hr/>
                    <p>Join a clan, for some social accountaility.</p>
                </div>
                <div class="col-sm-4 text-center">
                    <i class="fas fa-trophy fa-5x"></i>
                    <hr/>
                    <p>Live a better lifestyle through new healthier habits.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>