<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header('HPG')">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body class="bod-color">
<nav th:replace="partials/navbar :: navbar"></nav>
<!--<div class="jumbotron jumbotron-fluid text-center hero" >-->
    <!--<div class="">-->
        <!--<div class="header">-->
            <!--<h1 class="display-3">Habit Performance Game</h1>-->
            <!--<i class="ra ra-monster-skull fa-5x"></i>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="container">
    <div class="row">
        <img src="/images/HPGLIFE-1.png" alt="" id="home-pic"/>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div class="row sub-header">
                <div class="col-sm-4 text-center">
                    <i class="ra ra-wooden-sign fa-7x brown"></i>
                    <h3 id="bold">Habit</h3>
                    <hr/>
                    <p id="bold">Choose a habit you would like to improve on.</p>
                </div>
                <div class="col-sm-4 text-center">
                    <i class="fas fa-user-ninja fa-7x"></i>
                    <h3 id="bold">Clans</h3>
                    <hr/>
                    <p id="bold">Join a clan, for some social accountability.</p>
                </div>
                <div class="col-sm-4 text-center">
                    <i class="ra ra-trophy  fa-7x darkGold"></i>
                    <h3 id="bold">Success</h3>
                    <hr/>
                    <p id="bold">Live a better lifestyle through new healthier habits. Oh Yea</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>